@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-primary: #3b82f6; /* blue-700 */
  --color-secondary: #2563eb; /* blue-600 */
  --color-accent: #f59e0b; /* amber-500 */
  --color-background: #f3f4f6; /* gray-100 */
}

@layer base {
  body {
    font-family: var(--font-roboto);
  }
}
@layer components {
  .btn {
    @apply px-4 py-2 bg-primary hover:bg-secondary text-white rounded;
  }

  input,
  textarea {
    @apply px-3 py-2 bg-background border-none rounded focus:outline-none;
  }
}

html {
  scroll-behavior: smooth;
}
